<div class="row">
  <div class="col s12">
    <h3>Upload Page</h3>
  </div>
  <div class="col s12">
    <form class="" action="/upload" method="POST">
      <input type="file" name="myFile" value="">
      <input type="submit" class="btn" value="shend me yo shtuph">
    </form>
  </div>
</div>
